<!DOCTYPE html>
<html data-ng-app="MyDocDB">
    <head lang="en">
        <meta charset="UTF-8">
        <title>My DocumentDB</title>

        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="lib/angular-ui/ng-grid.css" />
        <link rel="stylesheet" href="styles/theme.css" />
        <link rel="stylesheet" href="lib/jsoneditor/jsoneditor.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <b>My DocumentDB</b>
                    </a>
                </div>
                <div class="navbar-collapse collapse"  data-ng-controller="ConnectionCtrl">
                    <ul class="nav navbar-nav">
                        <li data-ng-if="isConnected">
                            <a data-ui-sref="database">Explorer</a>
                        </li>
                        <li data-ng-if="isConnected">
                            <a data-ui-sref="console">Console</a>
                        </li>
                        <li>
                            <a data-ui-sref="credits">Credits</a>
                        </li>
                        <li>
                            <a href="https://github.com/shaunxu/myazdocdb" target="_blank">
                                <img src="styles/github-mark-light-32px.png"/>Source Code
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group" data-ng-show="!isConnected">
                            <input type="text" placeholder="Host" class="form-control" data-ng-model="host">
                        </div>
                        <div class="form-group" data-ng-show="!isConnected">
                            <input type="text" placeholder="Key" class="form-control" data-ng-model="key">
                        </div>
                        <div class="form-group" data-ng-show="isConnected">
                            <input type="text" readonly class="form-control" data-ng-model="host">
                        </div>
                        <button type="button" class="btn btn-success" data-ng-show="!isConnected" data-ng-click="connect()">Connect</button>
                        <button type="button" class="btn btn-success" data-ng-show="isConnected" data-ng-click="disconnect()">Disconnect</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div data-loading-indicator class="loading-indicator">
                <img class="center-block" src="styles/loading.gif" />
            </div>

            <ol class="breadcrumb" data-ng-controller="BreadcrumbCtrl">
                <li>
                    <a data-ui-sref="dashboard" href="javascript:void(0)">Home</a>
                </li>
                <li data-ng-repeat="item in breadcrumb.items" data-ng-class="item.href ? undefined : 'active'">
                    <a data-ng-href="{{item.href}}" data-ng-if="item.href">{{item.text}}</a>{{item.href ? '' : item.text}}
                </li>
            </ol>

            <div data-ui-view></div>

            <footer>
                <p>&copy; 2014 Shaun Xu</p>
            </footer>
        </div>

        <script type="text/javascript" src="lib/jquery/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="lib/jquery/jquery-ui.js"></script>
        <script type="text/javascript" src="lib/bootstrap/scripts/bootstrap.js"></script>
        <script type="text/javascript" src="lib/angular/angular.js"></script>
        <script type="text/javascript" src="lib/angular-ui/angular-ui-router.js"></script>
        <script type="text/javascript" src="lib/angular-ui/ui-bootstrap-tpls-0.10.0.js"></script>
        <script type="text/javascript" src="lib/angular-ui/ng-grid-2.0.11.debug.js"></script>
        <script type="text/javascript" src="lib/jsoneditor/jsoneditor.js"></script>

        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="controllers/breadcrumbCtrl.js"></script>
        <script type="text/javascript" src="controllers/connectionCtrl.js"></script>
        <script type="text/javascript" src="controllers/dashboardCtrl.js"></script>
        <script type="text/javascript" src="controllers/consoleCtrl.js"></script>
        <script type="text/javascript" src="controllers/creditsCtrl.js"></script>
        <script type="text/javascript" src="controllers/databaseCtrl.js"></script>
        <script type="text/javascript" src="controllers/collectionCtrl.js"></script>
        <script type="text/javascript" src="controllers/documentCtrl.js"></script>
    </body>
</html>