<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Self</th>
            <th>Timestamp</th>
            <th>ETag</th>
            <th>
                <button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="database.create()">Create</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="db in database.databases">
            <td>{{$index + 1}}</td>
            <td>
                <a ng-link="collection({ queryParams: { did: db.id, dl: db._self }})">{{db.id}}</a>
            </td>
            <td>{{db._self}}</td>
            <td>{{db._ts}}</td>
            <td>{{db._etag}}</td>
            <td>
                <button type="button" class="btn btn-danger btn-xs btn-block" data-ng-click="database.delete(database.id, database._self)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>