<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Self</th>
            <th>Timestamp</th>
            <th>ETag</th>
            <th>
                <button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="create()">Create</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="database in databases">
            <td>{{$index + 1}}</td>
            <td>
                <a router-link="collection({ did: database.id, dl: database._self })">{{database.id}}</a>
            </td>
            <td>{{database._self}}</td>
            <td>{{database._ts}}</td>
            <td>{{database._etag}}</td>
            <td>
                <button type="button" class="btn btn-danger btn-xs btn-block" data-ng-click="delete(database.id, database._self)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>