<div class="modal-header">
    <h3 class="modal-title">Create a new collection in database '{{db.id}}'</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="databaseId">ID</label>
            <input type="text" autofocus class="form-control" id="databaseId" placeholder="ID" data-ng-model="id">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-ng-click="ok(id)">Create</button>
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>