<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Resource ID</th>
            <th>Timestamp</th>
            <th>ETag</th>
            <th colspan="2">
                <button type="button" class="btn btn-success btn-xs btn-block" data-ng-click="document.createOrUpdate(undefined)">Create</button>
            </th>
        </tr>
    </thead>
    <tbody data-ng-repeat="doc in document.items">
        <tr>
            <td>
                <a href="javascript:void(0)" data-ng-show="doc.expanded === true" data-ng-click="doc.expanded = false">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
                <a href="javascript:void(0)" data-ng-show="doc.expanded === false" data-ng-click="doc.expanded = true">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
            <td>
                {{doc.id}}
            </td>
            <td>{{doc._rid}}</td>
            <td>{{doc._ts}}</td>
            <td>{{doc._etag}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs btn-block" data-ng-click="document.createOrUpdate(document)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-xs btn-block" data-ng-click="document.delete(document)">Delete</button>
            </td>
        </tr>
        <tr data-ng-show="doc.expanded === true">
            <td colspan="7">
                <pre>{{doc.bodyString}}</pre>
            </td>
        </tr>
    </tbody>
</table>