<div class="modal-header">
    <h3 class="modal-title">{{isUpdate ? 'Create' : 'Update'}} document in '{{col.databaseId}}' > '{{col.collectionId}}'</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="documentId">ID</label>
            <input type="text" class="form-control" id="documentId" placeholder="ID" data-ng-model="doc.id" data-ng-readonly="isUpdate">
        </div>
        <div class="form-group" data-ng-show="isUpdate">
            <label for="documentLink">Link</label>
            <input type="text" class="form-control" id="documentLink" placeholder="ID" data-ng-model="doc._self" readonly>
        </div>
        <div class="form-group">
            <ul class="nav nav-pills">
                <li data-ng-class="designMode ? 'active' : undefined" data-ng-click="changeMode(true)">
                    <a href="javascript:void(0)">Designer</a>
                </li>
                <li data-ng-class="designMode ? undefined : 'active'" data-ng-click="changeMode(false)">
                    <a href="javascript:void(0)">Raw</a>
                </li>
            </ul>
            <div id="jsoneditor" data-ng-show="designMode">
                Design mode will be coming soon.
            </div>
            <textarea class="form-control" rows="5" data-ng-show="!designMode" data-ng-model="doc.bodyString"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-ng-click="ok(doc.id, doc.bodyString)">{{isUpdate ? 'Update' : 'Create'}}</button>
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>