<div class="jumbotron">
    <div class="container">
        <h3>Query Console (Coming soon)</h3>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="queryOn" class="col-sm-2 control-label">Query:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="queryOn" data-ng-model="selection.operation">
                        <option data-ng-repeat="opt in options" value="{{opt.operation}}">{{opt.text}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="links" class="col-sm-2 control-label">XXX Link:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="links">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="query" class="col-sm-2 control-label">Query:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="query"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-success btn-block">Execute</button>
                </div>
            </div>

            <div class="form-group">
                <label for="result" class="col-sm-2 control-label">Result:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" readonly rows="10" id="result"></textarea>
                </div>
            </div>
        </form>

    </div>
</div>
