<div class="modal-header">
    <h3 class="modal-title">Delete a database</h3>
</div>
<div class="modal-body">
    <div class="panel panel-danger">
        <div class="panel-heading">
            Unexpected bad things will happen if you don't read this!
        </div>
        <div class="panel-body">
            <p>
                This action <b>CANNOT</b> be undone. <br />
                This will permanently delete the <b>{{db.id}}</b> database, remove all collections, documents, users, attachments, stored procedures and triggers associations.
            </p>
            <p>
                Please type in the name of the database to confirm.
            </p>
        </div>
    </div>
    <form role="form">
        <div class="form-group">
            <label for="databaseId">ID</label>
            <input type="text" autofocus class="form-control" id="databaseId" placeholder="ID" data-ng-model="id">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-ng-click="ok(id, db._self)">Delete</button>
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
</div>